/*basic reset*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    color: #555;
    background-size: cover;
    font-family: 'Lato', 'Arial', sans-serif;
    background: url(img/img6.JPG);
    background-color: aqua;
    background-size: cover;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.side2 ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: 15%;
  background-color: #333;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.logo{
    height: 155px;
    width: auto;
    float: left;
    margin-top: 0px;
}
li a {
  display: block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
}
.side a:link,
.side a:visited{
    padding: 12px ;
    color: #fff;
    text-decoration: none;
    font-size: 80%;
}
.side a:hover,
.side a:active{
    border-left: 3px solid #ff418a;
    -webkit-transition: border-left 0.3s;
    transition: border-left 0.3s;
}
/*form styles*/
#msform {
	width: 500px;
    margin-left: 30%;
    padding-top: 100px;
    padding-bottom: 30px;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0 1%;
	margin-top:5%; 
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons #27AE60*/
#msform .action-button {
	width: 100px;
	background: #ff418a;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
#msform .action-button:hover, #msform .action-button:focus {
	background: #e63479;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 30px;
    text-align: center;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: green;
	color: white;
}

.container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ff418a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.row2{
    text-align: left;
}
.menu a{
    text-decoration: none;
    color: #8b8b89;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.menu a:hover{
    text-decoration: none;
    color: yellowgreen;
}

.menu a:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.menu a:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.btn-primary {
  color: #000;
  background-color: transparent;
  padding: 2px 8px;
}