*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    background: url(img/img7.jpg);
    background-size: cover;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: 15%;
  background-color: #333;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.logo{
    height: 155px;
    width: auto;
    float: left;
    margin-top: 0px;
}
li a {
  display: block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
}
.side a:link,
.side a:visited{
    padding: 12px ;
    color: #fff;
    text-decoration: none;
    font-size: 80%;
}
.side a:hover,
.side a:active{
    border-left: 3px solid #ff418a;
    -webkit-transition: border-left 0.3s;
    transition: border-left 0.3s;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: white;
    color: black;
    top: 50%;
    left: 60%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #ff418a;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#e63479;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


